* {
  padding: 0px;
  margin: 0px;
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr) ;
  background-color: black;
  grid-gap: 1px;
  height: 100vh;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}
